/* Font */
/* General element styles */
@font-face {
  font-family: "NB International Pro Medium";
  src: local("NB International Pro Medium"),
    url("/font/NB-International-Pro/NB-Medium.ttf") format("truetype");
  font-weight: 500;
}

/* Basic Reset */
/* General element styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General element styles */
body {
  font-family: "NB International Pro Medium", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  overflow-x: hidden;
  max-width: 1500px;
  margin: auto;
}

header,
/* Footer styles */
footer {
  /* background-color: #222; */
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* General element styles */
main {
  padding: 0rem;
}

.hero,
.features,
/* General element styles */
.cta {
  margin-bottom: 2rem;
}

div,
/* General element styles */
p {
  transition-duration: 0.3s;
}

/* General element styles */
a {
  text-decoration: none;
  transition-duration: 0.3s;
}

a:link,
a:visited,
a:hover,
/* General element styles */
a:active {
  color: inherit;
  text-decoration: none;
}

/* General element styles */
button {
  border: 0px;
  cursor: pointer;
  transition-duration: 0.3s;
}

/* General element styles */
svg {
  transition-duration: 0.3s;
}

/* Header Styles */
/* Header / Navigation styles */
header {
  z-index: 2;
  background: #fafafa;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

/* Navigation Styles */

/* Header / Navigation styles */
nav {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
}

/* General element styles */
.logo {
  color: var(--Green-Default, #00854c);
  font-weight: 700;
  letter-spacing: -0.1rem;
  display: flex;
  flex-direction: column;
  gap: 0px;
  line-height: normal;
}

/* General element styles */
.logo .stray {
  transform: translateY(1px);
}

/* General element styles */
.logo .no-more {
  transform: translateY(-1px);
}

/* General element styles */
.logo .stray {
  font-size: 28px;
}

/* General element styles */
.logo .no-more {
  margin-top: -6px;
  font-size: 20px;
}

/* Header / Navigation styles */
.navLinks {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Header / Navigation styles */
.navLinks a {
  text-decoration: none;
  color: #171717;
}

/* Header / Navigation styles */
.navButton {
  color: #fafafa;
  border-radius: 50px;
  padding: 6px 12px;
  background-color: #00854c;
  font-size: 16px;
}

/* Header / Navigation styles */
.navButton:hover {
  background-color: #fafafa;
  color: #00854c;
  outline: 0.5px solid #00854c;
}

/* Header / Navigation styles */
/* nav button {
  border: 0px;
} */

/* Hero Styles */

/* Hero section styles */
.hero {
  margin-top: 75px;
  padding: 20px 50px 0 50px;
  height: 100%;
  max-height: 580px;
}

/* Hero section styles */
.hero img {
  width: 100%;
  height: 100%;
  max-height: 580px;
  object-fit: cover;
  border-radius: 30px;
}

/* Hero section styles */
.hero .bigText {
  /* position: absolute;
  bottom: -75px; */
  margin-left: -8px;
  margin-top: -16vw;
  color: #fafafa;
  /* font-size: 165px; */
  font-size: 12vw;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.7rem;
  width: 100%;
  text-align: center;
}

/* Hero section styles */
.hero .textButtonElement {
  font-size: 20px;
  margin-top: -28vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  padding-right: 2%;
}

/* Hero section styles */
.hero .smallerText {
  max-width: 380px;
  color: #fafafa;
  line-height: normal;
  letter-spacing: -0.44px;
}

button p,
/* General element styles */
.btnAction p {
  width: 100%;
  text-align: center;
}

.hero button,
/* Hero section styles */
.hero .btnAction {
  max-width: 380px;
  display: flex;
  padding: 10px 10px 10px 40px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #fafafa;
  border-radius: 100px;
  background: #00854c;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.55px;
  border: 0px;
  width: 100%;
}

.hero button:hover,
/* Hero section styles */
.hero .btnAction:hover {
  background: #fafafa;
  color: #00854c;
}

.hero button:hover .arrow,
/* Hero section styles */
.hero .btnAction:hover .arrow {
  background-color: #00854c;
}

.hero button:hover svg,
/* Hero section styles */
.hero .btnAction:hover svg {
  fill: #fafafa;
}

/* Hero section styles */
.hero .arrow {
  border-radius: 100px;
  background: #fafafa;
  padding: 4px;
  border: 0px;
}

/* Hero section styles */
.hero svg {
  fill: #00854c;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
}

/* Repetitive Styles */

.aboutTitle,
.whyItMattersTitle,
.storiesTitle,
.howYouCanHelpTitle,
/* Contact section styles */
.contactTitle {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

/* General element styles */
.greenDot {
  width: 12px;
  height: 12px;
  fill: #00854c;
  background: #00854c;
  border-radius: 10px;
}

.aboutTitle p,
.whyItMattersTitle p,
.storiesTitle p,
.howYouCanHelpTitle p,
/* Contact section styles */
.contactTitle p {
  color: #8d8d8d;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.44px;
}

.aboutContent .title,
.whyItMatters .title,
.stories .title,
.howYouCanHelp .title,
/* Contact section styles */
.contact .title {
  color: #171717;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.859px;
}

.aboutContent .description,
.whyItMatters .description,
.stories .description,
.howYouCanHelp .description,
/* Contact section styles */
.contact .description {
  color: #8d8d8d;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
}

.aboutContentLeft mark,
.whyItMatters mark,
/* Stories section styles */
.stories mark {
  color: #00854c;
  background-color: transparent;
}

/* General element styles */
.titleDescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

/* About Us Styles */

/* About section styles */
.aboutUs {
  margin-top: 20vw;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

/* About section styles */
.aboutContent {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* About section styles */
.aboutContentLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

/* About section styles */
.aboutContentRight {
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.aboutContentRight .innerLeft,
/* General element styles */
.innerRight {
  width: 100%;
}

/* About section styles */
.aboutContentRight .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 20px;
}

/* About section styles */
.aboutContentRight .card .title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.55px;
  color: #171717;
}

/* About section styles */
.aboutContentRight .card p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
  color: #8d8d8d;
}

/* General element styles */
.innerRight {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Why It Matters  */

/* 'Why It Matters' section styles */
.whyItMatters {
  margin-top: 60px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  align-items: center;
}

/* General element styles */
.statistics {
  display: flex;
  flex-direction: row;
  padding: 0 7px;
  width: 100%;
  gap: 14px;
}

/* General element styles */
.statisticsCol {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  /* height: 100%; */
  min-height: 500px;
  min-width: 210px;
}

/* General element styles */
.statisticsCol img {
  width: 100%;
  height: 50%;
  border-radius: 20px;
  object-fit: cover;
}

/* General element styles */
.stats {
  padding: 20px;
  border-radius: 20px;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 50%;
  /* border: 2px solid black; */
}

/* General element styles */
.stats .number {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.859px;
  width: 100%;
}

/* General element styles */
.stats .text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
  width: 100%;
}

/* General element styles */
.color1 {
  background-color: #2d8d63;
}

/* General element styles */
.color2 {
  background-color: #5abe93;
}

/* General element styles */
.color3 {
  background-color: #0c4b30;
  height: 100%;
}

/* General element styles */
.color4 {
  background-color: #3ba074;
}

/* General element styles */
.color5 {
  background-color: #156341;
}

/* General element styles */
.color6 {
  background-color: #5abe93;
}

/* Stories Styles */

/* Stories section styles */
.stories {
  margin-top: 60px;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

/* Stories section styles */
.storiesContent {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Stories section styles */
.storiesContentLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  background-color: #fafafa;
  z-index: 1;
}

/* Stories section styles */
.storiesContentLeft .arrows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
}

/* Stories section styles */
.storiesContentLeft .arrow {
  border-radius: 50px;
  border: 1px solid #171717;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Stories section styles */
.storiesContentLeft .arrow svg {
  fill: #171717;
}

/* Stories section styles */
.storiesContentLeft .arrow:hover {
  background: #171717;
}

/* Stories section styles */
.storiesContentLeft .arrow:hover svg {
  fill: #fafafa;
}

/* Stories section styles */
.storyCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  min-width: 350px;
}

/* Stories section styles */
.storyCard img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  max-height: 237px;
}

/* Stories section styles */
.storiesContentRight {
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

/* Stories section styles */
.story {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.352px;
  color: #171717;
}

/* Stories section styles */
.readStory {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 6px 6px 6px 20px;
  border-radius: 100px;
  border: 1px solid #00854c;
  background: #fafafa;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}

/* Stories section styles */
.readStory span {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.352px;
  color: #00854c;
}

/* Stories section styles */
.readStoryArrow {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #00854c;
}

/* Stories section styles */
.readStoryArrow svg {
  fill: #fafafa;
}

/* Stories section styles */
.readStory:hover {
  background: #00854c;
}

/* Stories section styles */
.readStory:hover span {
  color: #fafafa;
}

/* Stories section styles */
.readStory:hover .readStoryArrow {
  background-color: #fafafa;
}

/* Stories section styles */
.readStory:hover .readStoryArrow svg {
  fill: #00854c;
}

/* How to Help Styles */

/* 'How You Can Help' section styles */
.howYouCanHelp {
  margin-top: 60px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

/* 'How You Can Help' section styles */
.howYouCanHelpContent {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

/* 'How You Can Help' section styles */
.howYouCanHelpCol {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

/* 'How You Can Help' section styles */
.howYouCanHelpCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 20px;
  cursor: pointer;
}

/* 'How You Can Help' section styles */
.howYouCanHelpCard:hover {
  background-color: #00854c;
  color: #fafafa;
}

/* 'How You Can Help' section styles */
.howYouCanHelpCard:hover .cardChips p {
  background: #fafafa;
  color: #00854c;
}

/* 'How You Can Help' section styles */
.howYouCanHelpCard:hover .cardDesc {
  color: #bababa;
}

/* General element styles */
.cardTexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

/* General element styles */
.cardChips {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* General element styles */
.cardChips p {
  border-radius: 50px;
  background: #207952;
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  letter-spacing: -0.44px;
  color: #fafafa;
}

/* General element styles */
.cardTitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.688px;
}

/* General element styles */
.cardDesc {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
  color: #8d8d8d;
}

/* General element styles */
.cardImg {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: end;
  justify-content: end;
}

/* General element styles */
.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* General element styles */
.cardImg .cardArrow {
  max-width: 50px;
  position: absolute;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 100px;
  background: #5abe93;
  margin-bottom: 16px;
  margin-right: 16px;
}

/* General element styles */
.cardImg .try {
  padding-top: 50px;
  margin-top: 50px;
  top: 20px;
}

/* Contact Us Styles */

/* Contact section styles */
.contact {
  margin-top: 60px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

/* Contact section styles */
.contactContent {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Contact section styles */
.contactContentLeft {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
}

/* Contact section styles */
.contactContentRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.chatWithUs,
/* General element styles */
.business {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: start;
  text-align: start;
}

/* General element styles */
.socials {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40%;
  align-items: start;
  text-align: start;
}

.chatWithUs .title,
/* General element styles */
.socialsNBusiness .title {
  color: #171717;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.688px;
}

.chatWithUs .details,
/* General element styles */
.socialsNBusiness .details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  justify-content: start;
}

.chatWithUs .details p,
/* General element styles */
.socialsNBusiness .details p {
  color: #8d8d8d;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.44px;
}

.chatWithUs .details a,
/* General element styles */
.socialsNBusiness .details a {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.352px;
  /* text-decoration-line: underline; */
}

/* General element styles */
.socialsNBusiness {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Contact section styles */
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* General element styles */
.formRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

/* General element styles */
.inputGap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: -0.352px;
  width: 100%;
}

/* General element styles */
label {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.352px;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
/* General element styles */
textarea {
  border-radius: 20px;
  border: 1px solid #171717;
  background: #fafafa;
  display: flex;
  padding: 15px;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.352px;
  width: 100%;
  font-family: "NB International Pro Medium", sans-serif;
}

/* General element styles */
textarea {
  resize: none;
}

/* General element styles */
.formButton {
  display: flex;
  padding: 18px 22px;
  justify-content: center;
  align-items: center;
  background-color: #00854c;
  font-size: 20px;
  color: #fafafa;
  border-radius: 50px;
  width: 100%;
}

/* General element styles */
.formButton:hover {
  background-color: #fafafa;
  color: #00854c;
  outline: 1px solid #00854c;
}

/* Footer styles */
footer {
  margin-top: 60px;
  width: 100%;
  padding: 20px 50px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

/* Footer styles */
.innerFooter {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: var(
    --Gradient-Green,
    linear-gradient(94deg, #0c4b30 33.33%, #5abe93 100%)
  );
  gap: 40px;
  z-index: 1;
}

/* Footer styles */
.topFooter {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 40px;
}

/* General element styles */
.topLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  text-align: start;
  width: 70%;
}

/* General element styles */
.topLeft .title {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.343px;
}

/* General element styles */
.topLeft .description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.352px;
}

/* General element styles */
.topRight {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 30%;
}

/* General element styles */
.topRight .innerLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  text-align: start;
}

/* General element styles */
.topRight .innerRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  text-align: start;
}

.topRight p,
/* General element styles */
.topRight a {
  color: var(--White, #fafafa);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.352px;
}

/* Contact section styles */
.contactButton {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 6px 6px 6px 30px;
  border-radius: 100px;
  background: #fafafa;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
}

/* Contact section styles */
.contactButton svg {
  fill: #fafafa;
}

/* Contact section styles */
.contactButton p {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.44px;
  color: #00854c;
}

/* Contact section styles */
.contactArrow {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #00854c;
}

/* Contact section styles */
.contactButton:hover {
  background: #00854c;
}

/* Contact section styles */
.contactButton:hover p {
  color: #fafafa;
}

/* Contact section styles */
.contactButton:hover .contactArrow {
  background-color: #fafafa;
}

/* Contact section styles */
.contactButton:hover .contactArrow svg {
  fill: #00854c;
}

/* Footer styles */
.midFooter {
  height: 1px;
  width: 100%;
  background: #fafafa;
}

/* Footer styles */
.bottomFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Footer styles */
.bottomFooter .logo {
  color: #fafafa;
}

/* Footer styles */
.socialsFooter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
}

/* Footer styles */
.socialsFooter svg {
  cursor: pointer;
}

/* Footer styles */
.outerFooter {
  position: absolute;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 150px;
  padding-bottom: 20px;
  background-color: #171717;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  margin-bottom: -60px;
}

/* General element styles */
.statistics-marquee {
  overflow: hidden;
  position: relative;
}

/* General element styles */
.statistics-content {
  position: relative;
  display: flex;
  animation: marquee 5s linear infinite;
  will-change: transform;
  display: flex;
  flex-direction: row;
}

/* General element styles */
@keyframes marquee {
  /* General element styles */
  0% {
    transform: translateX(0%);
  }
  /* General element styles */
  100% {
    transform: translateX(-20%);
  }
}

/* General element styles */
.descriptionmax {
  max-width: 492px;
}

/* General element styles */
.link-2 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #171717;
  padding: 0 1px;
  transition: color ease 0.3s;
}

.link-2::before,
/* General element styles */
.link-2::after {
  content: "";
  position: absolute;
  background-color: #171717;
  z-index: -1;
  height: 2px;
}

/* General element styles */
.link-2::before {
  width: 0%;
  left: 0;
  bottom: 0;
  transition: width ease 0.4s;
}

/* General element styles */
.link-2::after {
  width: 100%;
  left: 0;
  bottom: 0;
  transition: all ease 0.6s;
}

/* General element styles */
.link-2:hover::before {
  width: 100%;
}

/* General element styles */
.link-2:hover::after {
  left: 100%;
  width: 0%;
  transition: all ease 0.2s;
}

/* General element styles */
.link-3:hover {
  opacity: 0.5;
}

/* Modal overlay */
/* General element styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal content box */
/* General element styles */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px 30px;
  border-radius: 12px;
  width: 80%;
  max-width: 600px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

/* Close button */
/* General element styles */
.close {
  color: #555;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  font-weight: normal;
  cursor: pointer;
}

/* General element styles */
.close:hover {
  color: #000;
}

/* Animation */

/* General element styles */
@keyframes fadeIn {
  /* General element styles */
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  /* General element styles */
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Header / Navigation styles */
.navLinks a:hover {
  opacity: 0.5;
}

/* General element styles */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Responsive Styles */
@media screen and (min-width: 1400px) {
  .hero .bigText {
    font-size: 180px;
    margin-top: -240px;
  }

  .hero .textButtonElement {
    margin-top: -400px;
  }

  .aboutUs {
    margin-top: 250px;
  }
}
